<%- include('partials/head.ejs') %>
<%- include('partials/main.ejs') %>

    <div class="container contenedor">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4"> Sobre nosotros </h1>
              <p class="lead"> Nos gusta ofrecer la mejor solución para estudiantes y profesionales que deseen hacer cualquier cosa  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste officia aliquid ducimus mollitia blanditiis aspernatur vero cumque. Nam, natus corporis distinctio debitis quidem quaerat quas quos laborum nobis, architecto cum dolorem maxime eligendi porro suscipit aperiam asperiores! Dicta eaque debitis culpa aliquam! Quibusdam amet beatae unde ut, impedit accusamus. Praesentium? </p>
            </div>
          </div>
    </div>


<%- include('partials/footer.ejs') %>