<%- include('partials/head.ejs') %>
<%- include('partials/main.ejs') %>

    <div class="contenedor">
        <div class="jumbotron">
            <h1 class="display-4"> Administra tus tareas!</h1>
            <p class="lead"> De manera fácil e invita a amigos para hacer tareas juntos </p>
            <hr class="my-4">
            <p> The best app to management your tasks </p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
          </div>
    </div>

    


<%- include('partials/footer.ejs') %>