* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}

a {
    text-decoration: none;
}

a:visited {
    color: rgb(65, 65, 65);
}

ul {
    list-style: none;
}

.contenedor {
    width: 100%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tasks {
    margin: 20px auto;
}

.logo {
    margin: 10px auto;
    width: 50%;
    height: auto;
}

button {
    margin: 10px;
}

span {
    font-weight: bold;
}